.product-alternative {
    width: 100%;
    min-height: 500px;
    padding: 30px 20px;
}
.product-alternative__title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    height: 42px;
    padding: 10px;
}